@media screen and (max-width: 1670px) {

  .wallpaper-container {
    width: 700px;
    height: 350px;
  }

  .Wallpaper-item {
    font-size: 300px;
    margin: 40px;
  }

  .wallpaper1 {
    background-size: 800px;
  }

  .wallpaper2 {
    background-size: 760px;
  }

  .wallpaper3 {
    background-size: 695px;
  }

  .wallpaper4 {
    background-size: 700px;
  }

  .wallpaper5 {
    background-size: 700px;
  }

  .wallpaper6 {
    background-size: 700px;
  }

}

@media screen and (max-width: 1450px) {

  .wallpaper-container {
    width: 600px;
    height: 330px;
    padding-top: 15px;
  }

  .Wallpaper-item {
    font-size: 250px;
    margin: 40px;
  }

  .wallpaper1 {
    background-size: 800px;
    background-position-x: -130px;
  }

  .wallpaper2 {
    background-size: 625px;
  }

  .wallpaper3 {
    background-size: 660px;
  }

  .wallpaper4 {
    background-size: 590px;
  }

  .wallpaper5 {
    background-size: 625px;
  }

  .wallpaper6 {
    background-size: 625px;
  }

}

@media screen and (max-width: 1250px) {

  .wallpaper-container {
    width: 500px;
    height: 250px;
  }

  .Wallpaper-item {
    font-size: 200px;
    margin: 40px;
  }

  .wallpaper1 {
    background-size: 700px;
    background-position-y: -20px;
  }

  .wallpaper2 {
    background-size: 520px;
  }

  .wallpaper3 {
    background-size: 500px;
    background-position-y: -40px;
  }

  .wallpaper4 {
    background-size: 500px;
  }

  .wallpaper5 {
    background-size: 500px;
    background-position-y: -30px;
  }

  .wallpaper6 {
    background-size: 500px;
  }

}

@media screen and (max-width: 1050px) {

  .wallpaper-container {
    width: 400px;
    height: 200px;
  }

  .Wallpaper-item {
    font-size: 160px;
    margin: 40px;
  }

  .wallpaper1 {
    background-size: 550px;
    background-position-y: -10px;
  }

  .wallpaper2 {
    background-size: 400px;
    background-position-y: -20px;
  }

  .wallpaper3 {
    background-size: 420px;
    background-position-y: -20px;
  }

  .wallpaper4 {
    background-size: 400px;
    background-position-y: -20px;
  }

  .wallpaper5 {
    background-size: 400px;
  }

  .wallpaper6 {
    background-size: 400px;
    background-position-y: -70px;
  }

}