* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html {
  scroll-behavior: smooth;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  background-color: rgb(43, 42, 42);
}

h1 {
  text-align: center;
  color: white;
  font-size: 65px;
  padding-top: 5vh;
}

.flex-container1 {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

.flex-container2 {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

.flex-container3 {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 50px;
}

.wallpaper-container {
  width: 816px;
  height: 432px;
}

.wallpaper1 {
  background-image: url(img/win11/win11-1.jpg);
  background-position-x: -90px ;
  background-size: 979px;
  background-repeat: no-repeat;
  border: solid 5px black;
}

.wallpaper2 {
  background-image:  url(img/win11/win11-2.jpeg);
  background-repeat: no-repeat;
  background-position-y: -30px ;
  background-size: 805px;
  border: solid 5px black;
}

.wallpaper3 {
  background-image:  url(img/win11/win11-3.jpg);
  background-repeat: no-repeat;
  background-position-y: -30px ;
  background-size: 820px;
  border: solid 5px black;
}

.wallpaper4 {
  background-image:  url(img/win11/win11-4.jpeg);
  background-repeat: no-repeat;
  background-position-y: -30px ;
  background-size: 820px;
  border: solid 5px black;
}

.wallpaper5 {
  background-image:  url(img/win11/win11-5.jpg);
  background-repeat: no-repeat;
  background-position-y: 0;
  background-position-x: 0px;
  background-size: 805px;
  border: solid 5px black;
}

.wallpaper6 {
  background-image:  url(img/win11/win11-6.jpg);
  background-repeat: no-repeat;
  background-position-y: -90px ;
  background-size: 820px;
  border: solid 5px black;
}

.Wallpaper-item {
  text-align: center;
  text-decoration: none;
  font-size: 400px;
  color: transparent;
  user-select: none;
}
